@charset "utf-8";
body{
    background-color:black;
    margin: 0;
    padding: 0;
}

.header{
   height: 100px;
   background-color: blue;
   text-align: center; 
   font-size: 60px;
}

.section{
    height: 200px;
    width: 100%;
<<<<<<<<< Temporary merge branch 1
    
=========
    background-image: url("bakgrundtest.jpg");
    background-repeat: no-repeat;
}

